@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Colombia<br />
    Medellín,Antioquia 050012<br />
    <abbr title="Phone"></abbr>
    +57 3013061484
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jaimemonroy31@gmail.com">Jaimemonroy31@gmail.com</a><br />
    <strong>Skype:</strong> <a href="mailto:jaimemonroyconsultant">Jaimemonroyconsultant</a>
</address>